#cng_ai_chat *,
#cng_ai_chat *::before,
#cng_ai_chat *::after {
    box-sizing: border-box;
}

#cng_ai_chat input,
#cng_ai_chat textarea,
#cng_ai_chat select,
#cng_ai_chat button {
    border: none;
    outline: none;
} 

#cng_ai_chat{
    position: relative;
    z-index: 1000;
}

